# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/HW-1-1/.idea/.gitignore
/HW-1-1/.idea/.name
/HW-1-1/cmake-build-debug/.ninja_deps
/HW-1-2/cmake-build-debug/.ninja_deps
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]/CMakeDetermineCompilerABI_C.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]1/CMakeDetermineCompilerABI_C.bin
/HW-1-1/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/HW-1-2/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_C.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]/CMakeDetermineCompilerABI_CXX.bin
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]1/CMakeDetermineCompilerABI_CXX.bin
/HW-1-1/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/HW-1-2/cmake-build-debug/CMakeFiles/3.23.2/CMakeDetermineCompilerABI_CXX.bin
/.idea/misc.xml
/HW-1-1/.idea/misc.xml
/.idea/modules.xml
/HW-1-1/.idea/modules.xml
/HW-1-1/cmake-build-debug/CMakeFiles/rules.ninja
/HW-1-2/cmake-build-debug/CMakeFiles/rules.ninja
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14_[Changes]1/shelved.patch
/HW-1-1/cmake-build-debug/.cmake/api/v1/reply/target-HW-1-1-Debug-d516520bd6e934221a20.json
/HW-1-2/cmake-build-debug/.cmake/api/v1/reply/target-HW-1-2-Debug-6ae0e1428734726a672e.json
/.idea/shelf/Uncommitted_changes_before_Checkout_at_03_10_2022_16_14__Changes_.xml
/.idea/vcs.xml
/HW-1-1/.idea/vcs.xml
/.idea/workspace.xml
